
<form method="POST" action="/admin/add">

  <label for="enName">English Name:</label>
  <input type="text" name="enName" required />

  <label for="esName">Spanish Name:</label>
  <input type="text" name="esName" required />

  <label for="enDescription">English Description:</label>
  <input type="text" name="enDescription" required />

  <label for="esDescription">Spanish Description:</label>
  <input type="text" name="esDescription" required />

  <label for="pictures">Pictures (comma-separated):</label>
  <input type="text" name="pictures" required />

  <button class="addItemButton" type="submit">Add Item</button>
</form>
